<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>About Us</h1>
    <p>
    <blockquote>
    <h2><b>Diseases</b><br></h2>
    Disease damage to rice can greatly reduce yield. They are mainly caused by bacteria, viruses, or fungi. Planting a resistant variety is the simplest and, often, the most cost effective management for diseases.
    <br>
        <h2 class="pos-title" id="factsheetstyling"> Bacterial Blast Disease : </h2>
        <div>
            Bacterial blight is a disease caused by bacteria that can affect many plants, including barley, wheat, oats, field peas, soybeans, and various fruit trees: 
        </div>
        <h3 class="pos-title" id="factsheetstyling">Symtoms </h3>
        Bacterial blight can cause dark brown spots with yellow halos on leaves, leaf curling, and black streaks on twigs. In severe cases, it can kill leaves, blossoms, and branch tips. 
        <br>
        <b>Causes</b> <br>
        The bacteria that causes bacterial blight is common in soil and water, and is spread by wind-driven rain. It can also survive on crop residue, seed, and perennial grasses. <br>
        <b>Control</b> <br>
        Here are some ways to control bacterial blight: <br>
        <ul>
            <li><b>Crop rotation:</b> Can help prevent inoculum from spreading from infected crops.</li> 
            <li><b>Sowing disease-free seed:</b> Can help prevent the spread of the. </li> 
            <li><b>Using resistant varieties:</b> Can help prevent the spread of the disease.</li> 
            <li><b>Avoiding pruning in winter:</b> Can help prevent the spread of the disease. </li>
            <li><b>Using copper bactericides:</b> Can help prevent the spread of the disease.</li>
            <li><b>Limiting cultivation to dry foliage:</b> Can help prevent the spread of the disease.</li>
        </ul>
        <img src="Rice_Diseases\Bacterial Blight Disease\BB (19).jpg">
    </blockquote>
    </p>
    <p>
        <h2 class="pos-title" id="factsheetstyling"> Blast (leaf and collar) :</h2>
    </p>
</body>
</html>